/* Login.css */
/* .struc{
    display: flex;
    /* align-items: center; */
    /* align-items:start; */
 
.login-container {
  background-color: white;
    width: 35vw;
    margin: 0 auto;
    padding: 20px;
    border: "2px solid #f0ad4e";
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-top: 100px;
    transition: "border-color 0.3s, transform 0.3s";
   
    
   
  }
  
  .input-container {
    margin-bottom: 15px;
  
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .line {
    border-top: 1px solid #ccc;
    display: block;
    padding-top: 15px;
    margin-top: 15px;
  }
  
  .errmsg {
    color: #ff0000;
  }
  