
h3 {
    color: white;
  }
  
  
  a {
    color: yellow;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
 
  a:hover {
    color: orange; 
  }
  .col-md-2:nth-child(1) {
    margin-right: 10px; 
  }
  